.object-fit-cover {
    object-fit: cover;
}

.bg-gradient-dark {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.interact-overlay {
    opacity: 0;
    transition: opacity 0.2s;
}

.group-hover:hover .interact-overlay {
    opacity: 1;
}

.cursor-pointer {
    cursor: pointer;
}